.client {
  margin: -4rem 0 2rem 0;
  @media only screen and (max-width: $tablet-1) {margin-bottom: 12rem;}

  &-headings {
    display: block;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background-image: linear-gradient(to right, var(--color-green), var(--color-sec));
    color: transparent;
    letter-spacing: .5rem;
    //background-clip: text;
    -webkit-background-clip: text;
    margin: 2rem 0;
  }

  &-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &-shape {
    position: relative;

    &:not(:last-child) {margin-right: 5rem;}
    @
  }

  &-img {
    height: 10rem;
    width: auto;
    filter: grayscale(1);
    @media only screen and (max-width: $mobile-phone-2) {
      height: 5rem;
      width: auto;
    }
  }

  &-caption {
    position: relative;
    color: var(--grey-dark-1);
    text-align: center;
    top: 18%;
    font-size: 1.5rem;
    left: 0;
    transform: translate(1px, -6px);
    opacity: 0;
    transition: all .5s;
  }

  &-img-1:hover + &-caption {
    opacity: 1;
    transform: translate(-1px, -20px);
  }

  &-img-2:hover + &-caption {
    opacity: 1;
    transform: translate(-1px, -20px);
  }

  &-img-3:hover + &-caption {
    opacity: 1;
    transform: translate(-1px, -20px);
  }

  &-img-4:hover + &-caption {
    opacity: 1;
    transform: translate(-1px, -20px);
  }
}
