.form {
  position: relative;
  //height: 50vh;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../css/img/san-francisco.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../css/img/san-francisco.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  @media only screen and (max-width: $bp-medium-2){
   height: 75vh;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  &_heading-text {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin: 3rem 0;
    text-align: center;
    color: var(--grey-light-1);
  }

  &_book {margin: 5rem 0;}

  &_group {
    &-1 {
      grid-column: 1 / span 2;
      @media only screen and (max-width: $bp-medium-1) {
        grid-row: 1 / 1;}
    }

    &-2 {
      grid-column: 3 / span 2;
      @media only screen and (max-width: $bp-medium-1) {
      grid-column: 2 /2;}
    }

    &-3 {
      @media only screen and (max-width: $mobile-phone-2) {grid-column: 2/2;}
    }

  }

  &_labels {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-items: center;
    @media only screen and (max-width: $bp-medium-1) {grid-template-rows: repeat(3, 1fr)}}
    @media only screen and (max-width: $bp-medium-2){ margin-top: -10rem;}

  &_text {
    font-family: "josefin sans", Sans-serif;
    border-radius: .2rem;
    padding: 1.5rem 2rem;
    width: 28rem;
    font-size: $font-size;
    border: none;
    border-bottom: 3px solid transparent;
    transition: all .2s;

    &::-webkit-input-placeholder {
      color: var(--grey-dark-1);
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($background-color-dark, .1);
      border-bottom: 3px solid var(--color-primary);

      &:invalid { border-bottom: 3px solid $color-secondary-dark;}
    }

  }

  &_email {
    width: 40rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    font-size: $font-size;
    border: none;
    border-bottom: 3px solid transparent;
    transition: all .2s;

    &::-webkit-input-placeholder { color: var(--grey-dark-1);}

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($background-color-dark, .1);
      border-bottom: 3px solid var(--color-primary);

      &:invalid {border-bottom: 3px solid $color-secondary-dark;}
    }
  }

  &-social_icon {
    background-color: transparent;
    margin-bottom: 2rem;
    @media only screen and (max-width: $bp-medium-2){margin-top: -14rem;}
    @media only screen and (max-width: $tablet-1) {
      margin-top: -4rem}
  }

  &_icon {
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    transition: all .2s;
    &-fb {
      fill: #3b5998;
    }
    &-twitter {
      fill: #00ACEE;
    }
    &-telegram {
      fill: #0088cc;
    }
    &-instagram {
      fill: #8a3ab9;
    }
    &-whatsapp {
      fill: #1ebea5;
    }

    &:not(:last-child) { margin-right: 1.5rem;}

    &:hover {transform: translateY(-3px);}
  }
}