.portfolio {
  padding: 25rem 0;
  margin-top: -25vh;

  @media only screen and (max-width: $tablet-1) {margin-bottom: 13rem}
  //
  //@media only screen and (max-width: $tablet) {
  //  margin-top: -40vh;
  //}
  display: flex;
  flex-direction: column;

  &-text {
    margin-bottom: -10rem;
    text-align: center;

    &-1 {
      display: block;
      font-size: 3rem;
      font-weight: 600;
      text-transform: uppercase;
      background-image: linear-gradient(to right, var(--color-green), var(--color-sec));
      color: transparent;
      letter-spacing: .5rem;
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
    }

    &-2 {
      position: relative;
      text-transform: capitalize;
      font-size: 1.6rem;
      font-weight: 400;

      display: grid;
      grid-template-columns: 1px max-content;
      align-items: center;
      grid-column-gap: 3.7rem;

      &::before {
        content: " ";
        height: 5px;
        width: 3.5rem;
        display: block;
        background-image: linear-gradient(to right, var(--color-green), var(--color-sec));

      }
    }
  }

  &_gallery {
    margin: 5rem 0;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 2rem;
    padding: 10rem;

    @media only screen and (max-width: $tablet-1) {
      margin: 10rem 0;
      padding: 2rem;
    }
  }
}

.gallery {
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    display: block;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;

    &:hover {
      transform: scale(1.03);
      filter: contrast(0.5) drop-shadow(0 1px 2px rgb(121, 119, 119)) brightness(75%);
      -webkit-filter: contrast(0.5) drop-shadow(0 1px 2px rgb(121, 119, 119)) brightness(75%);
      -webkit-transform: scale(1.03);
      -moz-transform: scale(1.03);
      -ms-transform: scale(1.03);
      -o-transform: scale(1.03);
    }

  }
  &-caption {
    position: relative;
    font-size: 1.4rem;
    &_link {
      &:link,
      &:active {
        color: var(--grey-dark-1);
        text-decoration: u;
      }
    }
    
  }

  &__item {
    &-1 {
      grid-row: 1 / span 4;
      grid-column: 1 / span 3;
    }

    &-2 {
      grid-row: 1 / span 4;
      grid-column: 4 / span 3;
    }

    &-3 {
      grid-row: 1 / span 4;
      grid-column: 7 / span 3;
    }

    &-4 {
      grid-row: 5 / span 4;
      grid-column: 1 / span 3;
    }

    &-5 {
      grid-row: 5 / span 4;
      grid-column: 4 / span 3;
    }

    &-6 {
      grid-row: 5 / span 4;
      grid-column: 7 / span 3;
    }
  }
}